In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [127]:
df = pd.read_json("tagaddod-d8ffe--MsZkGFSCtYxntenMuVF-export.json") 
df = df.T ## to edit the format
df.head()

,device_id,latitude,longitude,snapshot_datetime,meta-data,collector_id,destination_request_id
-MseZ2fAZ1SjLMaYOXy2,fe175d9955fced88,30.042313,31.33642,2022-01-05 16:06:42.373120,NaN,NaN,NaN
-MseZ3tJG5FeQy7OEB6H,fe175d9955fced88,30.042313,31.33642,2022-01-05 16:06:47.379586,NaN,NaN,NaN
-MseZ57uwVY_hYJ_G8nF,fe175d9955fced88,30.042313,31.33642,2022-01-05 16:06:52.473970,NaN,NaN,NaN
-MseZ6JS8eUMGMr-6cF0,fe175d9955fced88,30.042313,31.33642,2022-01-05 16:06:57.308858,NaN,NaN,NaN
-MseZ7XzNXS16vXvrVYO,fe175d9955fced88,30.042313,31.33642,2022-01-05 16:07:02.335482,NaN,NaN,NaN

In [128]:
df.shape

(2136, 7)

In [129]:
if 'meta-data' in df.index:
    collector_id = df.loc['meta-data']['collector_id']
    df['collector_id'] = collector_id 
    df.drop(index= 'meta-data',inplace = True)

In [130]:
df['collector_id'].unique()

array([51.])

In [131]:
df.dtypes

device_id                  object
latitude                   object
longitude                  object
snapshot_datetime          object
meta-data                  object
collector_id              float64
destination_request_id     object
dtype: object

In [134]:
df['latitude'] = pd.to_numeric(df['latitude'])
df['longitude'] = pd.to_numeric(df['longitude'])
df['snapshot_datetime'] = pd.to_datetime(df['snapshot_datetime'])#,format='%y-%m-%d %H:%M:%S')#.%f')

In [135]:
df.dtypes

device_id                         object
latitude                         float64
longitude                        float64
snapshot_datetime         datetime64[ns]
meta-data                         object
collector_id                     float64
destination_request_id            object
dtype: object

In [138]:
df['snapshot_datetime'].dt.microsecond

-MseZ2fAZ1SjLMaYOXy2    373120.0
-MseZ3tJG5FeQy7OEB6H    379586.0
-MseZ57uwVY_hYJ_G8nF    473970.0
-MseZ6JS8eUMGMr-6cF0    308858.0
-MseZ7XzNXS16vXvrVYO    335482.0
                          ...
-Mtc0g2xksjna61utkbu    157103.0
-Mtc0hHsnkiQaOQzOVmM    208130.0
-Mtc0iVkiN2I35wNbzL9    192465.0
-Mtc0k6hQNhX_wTsUoS8    780540.0
-Mtc0kw8uNekqxExUPw7    137822.0
Name: snapshot_datetime, Length: 2135, dtype: float64

In [136]:
years = df['snapshot_datetime'].dt.year
years

-MseZ2fAZ1SjLMaYOXy2    2022.0
-MseZ3tJG5FeQy7OEB6H    2022.0
-MseZ57uwVY_hYJ_G8nF    2022.0
-MseZ6JS8eUMGMr-6cF0    2022.0
-MseZ7XzNXS16vXvrVYO    2022.0
                         ...
-Mtc0g2xksjna61utkbu    2022.0
-Mtc0hHsnkiQaOQzOVmM    2022.0
-Mtc0iVkiN2I35wNbzL9    2022.0
-Mtc0k6hQNhX_wTsUoS8    2022.0
-Mtc0kw8uNekqxExUPw7    2022.0
Name: snapshot_datetime, Length: 2135, dtype: float64

In [57]:
df['snapshot_datetime'][0].microsecond

373120

In [20]:
np.isnan(df.loc['-MseZ7XzNXS16vXvrVYO','meta-data'] )

True

In [112]:
def process_meta_data(df):
    if 'meta-data' in df.columns:
        for record in (df[df['meta-data'].astype('|S') != b'nan'].iterrows()): # which will by default set the length to the max len it encounters
            dict_meta_data = ( record[1]['meta-data'] ) ## 1 as it is tuple with 0 the key and 1 the values
            for key,value in dict_meta_data.items():
                df.loc[record[0],key] = record[1]['meta-data'][key]
                #print(df.loc[record[0],key])
                
if 'meta-data' in df.columns:
    process_meta_data(df)
    print(df.loc[record[0],'device_id'])
    df.drop(columns = ['meta-data'] , inplace = True)

In [116]:
df

,device_id,latitude,longitude,snapshot_datetime,collector_id,destination_request_id
-MseZ2fAZ1SjLMaYOXy2,fe175d9955fced88,30.042313,31.33642,2022-01-05 16:06:42.373120,51.0,NaN
-MseZ3tJG5FeQy7OEB6H,fe175d9955fced88,30.042313,31.33642,2022-01-05 16:06:47.379586,51.0,NaN
-MseZ57uwVY_hYJ_G8nF,fe175d9955fced88,30.042313,31.33642,2022-01-05 16:06:52.473970,51.0,NaN
-MseZ6JS8eUMGMr-6cF0,fe175d9955fced88,30.042313,31.33642,2022-01-05 16:06:57.308858,51.0,NaN
-MseZ7XzNXS16vXvrVYO,fe175d9955fced88,30.042313,31.33642,2022-01-05 16:07:02.335482,51.0,NaN
...,...,...,...,...,...,...
-Mtc0g2xksjna61utkbu,b8e1d679ea29c711,27.204013,31.174785,2022-01-17 14:33:00.157103,51.0,NaN
-Mtc0hHsnkiQaOQzOVmM,b8e1d679ea29c711,27.204013,31.174785,2022-01-17 14:33:05.208130,51.0,NaN
-Mtc0iVkiN2I35wNbzL9,b8e1d679ea29c711,27.204013,31.174785,2022-01-17 14:33:10.192465,51.0,NaN
-Mtc0k6hQNhX_wTsUoS8,b8e1d679ea29c711,27.204012,31.174785,2022-01-17 14:33:16.780540,51.0,NaN
-Mtc0kw8uNekqxExUPw7,b8e1d679ea29c711,27.204012,31.174785,2022-01-17 14:33:20.137822,51.0,NaN

### create the pipeline

In [139]:
def process_meta_data(df):
    if 'meta-data' in df.columns:
        for record in (df[df['meta-data'].astype('|S') != b'nan'].iterrows()): # which will by default set the length to the max len it encounters
            dict_meta_data = ( record[1]['meta-data'] ) ## 1 as it is tuple with 0 the key and 1 the values
            for key,value in dict_meta_data.items():
                df.loc[record[0],key] = record[1]['meta-data'][key]
                #print(df.loc[record[0],key])
                

def ETL_pipeline(path = 'tagaddod-d8ffe--MsZkGFSCtYxntenMuVF-export.json'):
    df = pd.read_json(path) 
    df = df.T ## to edit the format
    
    if 'meta-data' in df.index:
        collector_id = df.loc['meta-data']['collector_id']
        df['collector_id'] = collector_id 
        df.drop(index= 'meta-data',inplace = True)
    
    df['latitude'] = pd.to_numeric(df['latitude'])
    df['longitude'] = pd.to_numeric(df['longitude'])
    df['snapshot_datetime'] = pd.to_datetime(df['snapshot_datetime'])#,format='%y-%m-%d %H:%M:%S')#.%f')
    
    if 'meta-data' in df.columns:
        process_meta_data(df)
        print(df.loc[record[0],'device_id'])
        df.drop(columns = ['meta-data'] , inplace = True)
    return df

In [140]:
ETL_pipeline(path = 'tagaddod-d8ffe--MsZkGFSCtYxntenMuVF-export.json')

b8e1d679ea29c711

,device_id,latitude,longitude,snapshot_datetime,collector_id,destination_request_id
-MseZ2fAZ1SjLMaYOXy2,fe175d9955fced88,30.042313,31.33642,2022-01-05 16:06:42.373120,51.0,NaN
-MseZ3tJG5FeQy7OEB6H,fe175d9955fced88,30.042313,31.33642,2022-01-05 16:06:47.379586,51.0,NaN
-MseZ57uwVY_hYJ_G8nF,fe175d9955fced88,30.042313,31.33642,2022-01-05 16:06:52.473970,51.0,NaN
-MseZ6JS8eUMGMr-6cF0,fe175d9955fced88,30.042313,31.33642,2022-01-05 16:06:57.308858,51.0,NaN
-MseZ7XzNXS16vXvrVYO,fe175d9955fced88,30.042313,31.33642,2022-01-05 16:07:02.335482,51.0,NaN
...,...,...,...,...,...,...
-Mtc0g2xksjna61utkbu,b8e1d679ea29c711,27.204013,31.174785,2022-01-17 14:33:00.157103,51.0,NaN
-Mtc0hHsnkiQaOQzOVmM,b8e1d679ea29c711,27.204013,31.174785,2022-01-17 14:33:05.208130,51.0,NaN
-Mtc0iVkiN2I35wNbzL9,b8e1d679ea29c711,27.204013,31.174785,2022-01-17 14:33:10.192465,51.0,NaN
-Mtc0k6hQNhX_wTsUoS8,b8e1d679ea29c711,27.204012,31.174785,2022-01-17 14:33:16.780540,51.0,NaN
-Mtc0kw8uNekqxExUPw7,b8e1d679ea29c711,27.204012,31.174785,2022-01-17 14:33:20.137822,51.0,NaN

In [142]:
ETL_pipeline(path = 'tagaddod-d8ffe--MszT9RZtTjcM5PwTCBH-export.json')

,collector_id,device_id,latitude,longitude,snapshot_datetime,destination_request_id
-Mu1Ke3YXnTlv_8zTedq,99.0,a5f55343f48cf3b2,30.915783,30.299763,2022-01-22 17:10:22.499088,NaN
-Mu1KfCkHPhyBE-_P9_y,99.0,a5f55343f48cf3b2,30.915783,30.299763,2022-01-22 17:10:27.184939,NaN
-Mu1KgR2hK2WOQDXF6d1,99.0,a5f55343f48cf3b2,30.915275,30.300481,2022-01-22 17:10:32.195519,NaN
-Mu1KheX3sUPsJ_26x0F,99.0,a5f55343f48cf3b2,30.915274,30.300482,2022-01-22 17:10:37.218805,NaN
-Mu1KisXMKQhSuocFh8c,99.0,a5f55343f48cf3b2,30.915278,30.300476,2022-01-22 17:10:42.210450,NaN
...,...,...,...,...,...,...
-MzvGrAleq0Z_d5AQImx,99.0,3967850978244b31,31.092501,29.737423,2022-04-05 21:50:38.065799,NaN
-MzvGt-m9CfNkqsIPlbr,99.0,3967850978244b31,31.092501,29.737423,2022-04-05 21:50:45.554494,NaN
-MzvGtefijvGFluLYhyy,99.0,3967850978244b31,31.092501,29.737423,2022-04-05 21:50:48.235675,NaN
-MzvGv-n48kWM9rqV-Jn,99.0,3967850978244b31,31.092501,29.737423,2022-04-05 21:50:53.747493,NaN
-MzvGw3gLwADyqQG61Gf,99.0,3967850978244b31,31.092501,29.737423,2022-04-05 21:50:58.092109,NaN

In [143]:
ETL_pipeline(path = 'tagaddod-d8ffe--MwWeqpG3yuQD7G2wcp8-export.json')

,collector_id,device_id,latitude,longitude,snapshot_datetime,destination_request_id
-MwWgmIKz8ZLI-S3HtAp,157.0,0891846aad4e869e,29.952633,30.888284,2022-02-22 15:51:02.869005,NaN
-MwWgmyb-JvddB_4D41K,157.0,0891846aad4e869e,29.952633,30.888284,2022-02-22 15:51:05.639681,NaN
-MwWgoX1YBF7jLDYPzHj,157.0,0891846aad4e869e,29.952638,30.888283,2022-02-22 15:51:12.002744,NaN
-MwWgpLvpj_9XZK1rza7,157.0,0891846aad4e869e,29.952638,30.888283,2022-02-22 15:51:15.387694,NaN
-MwWgqwJCVqXiZnRyYxK,157.0,0891846aad4e869e,29.952642,30.888282,2022-02-22 15:51:21.876488,NaN
...,...,...,...,...,...,...
-N3ab1kNY5GkCoiB2Gcl,157.0,0891846aad4e869e,30.567430,31.011686,2022-06-03 00:49:38.072777,NaN
-N3ab30MLr8vzHO5SEFr,157.0,0891846aad4e869e,30.566616,31.012179,2022-06-03 00:49:43.255626,NaN
-N3ab4_XRd5Oua4TjIhe,157.0,0891846aad4e869e,30.566256,31.012319,2022-06-03 00:49:49.666424,NaN
-N3ab5QXpG-qgP55DQTf,157.0,0891846aad4e869e,30.566256,31.012319,2022-06-03 00:49:53.122114,NaN
-N3ab72RE93xSqsFMpMq,157.0,0891846aad4e869e,30.565279,31.012417,2022-06-03 00:49:59.771898,NaN

In [144]:
ETL_pipeline(path = 'tagaddod-d8ffe--N4SUsENXI1OF1qf8VxT-export.json')

,collector_id,device_id,latitude,longitude,snapshot_datetime
-N4SWCnP5uAPMk2vlgsh,257.0,a685f0f069042727,30.562314,31.560081,2022-06-13 16:43:17.338230
-N4SWDqDqUVYxPTGsEYr,257.0,a685f0f069042727,30.562314,31.560081,2022-06-13 16:43:21.614333
-N4SWFG074ZdMJm5B7h3,257.0,a685f0f069042727,30.562314,31.560081,2022-06-13 16:43:27.425884
-N4SWG6b3kT3WQxIjw_x,257.0,a685f0f069042727,30.562314,31.560081,2022-06-13 16:43:30.918961
-N4SWHi3Zq_pQl99SaVN,257.0,a685f0f069042727,30.562314,31.560081,2022-06-13 16:43:37.476021
...,...,...,...,...,...
-N4SsdHjs4Ks-F1BnzNV,257.0,a685f0f069042727,30.562312,31.560080,2022-06-13 18:25:39.247044
-N4SsdlW6fgRvBC5U-2x,257.0,a685f0f069042727,30.562312,31.560080,2022-06-13 18:25:41.217370
-N4SsepalJNpxDsjo3xf,257.0,a685f0f069042727,30.562305,31.560091,2022-06-13 18:25:45.574352
-N4SsgNE5GU2N4_W3rL6,257.0,a685f0f069042727,30.562304,31.560093,2022-06-13 18:25:51.887048
-N4SshUlcPbVssLDwcRl,257.0,a685f0f069042727,30.562304,31.560093,2022-06-13 18:25:56.465310

### get the json name

In [152]:
path = 'tagaddod-d8ffe--N4SUsENXI1OF1qf8VxT-export.json'
import re
path.split('/')[-1].split('.')[0]

'tagaddod-d8ffe--N4SUsENXI1OF1qf8VxT-export'

In [166]:
name = 'ay hagaaa'

df.to_csv(name+'.csv',index =False, date_format = '%y-%m-%d %H:%M:%S.%f')